{% extends "base.html" %}

{% block title2 %}
    Список клиентов
{% endblock %}

{% block style %}
	{% include "inc-style.html" %}
{% endblock %}

{% block main %}

    <div class="content-admin">
        <div>
            {% for item in objects_list %}
            <li>
                {{item.name}}
                {% for location in item.locations %}
                    {{location.name}}
                {% endfor %}
            </li>
            {% endfor %}
        </div>

        <h3>Создание пользователя</h3>
        <form method="post">
            <span>Имя пользователя</span>
            <input type="text" name="new_user_name" placeholder="Имя">
            <div>
                <span>Права администратора</span>
                <label><input type="radio" name="new_user_specs" value="client" /> Нет</label>
                <label><input type="radio" name="new_user_specs" value="admin" /> Да</label></p>
                <button type="submit">Сохранить</button>
            </div>
        </form>
        <hr>
        <a href="/client-list/">Список клиентов</a>

    </div>
{% endblock %}
