<!--<main class="content">-->
<main class="content-admin">
    <p style="text-align: right;">{{context.data}}</p>
    <div class="elem-admin">
        <hr>
        <h3>Список направлений</h3>
        <ul>
            {% for name in context.list_directions %}
                <li>{{name}}</li>
            {% endfor %}
        </ul>
        <form method="post">
            <h4>Создание направление</h4>
            <input type="text" name="new_direction" placeholder="Название">
            <button type="submit">Создать</button>
        </form>
        <form method="post">
            <h4>Удалить направление</h4>
            <input type="text" name="delete_direction" placeholder="Название">
            <button type="submit">Удалить</button>
        </form>
    </div>

    <div class="elem-admin">
        <hr>
        <h3>Работа с товаром</h3>
        <form method="post">
            <h4>Добавить товар в каталог</h4>
            <input type="text" name="make_name" placeholder="Имя">
            <input type="text" name="make_direction" placeholder="Направление">
            <input type="text" name="make_price" placeholder="Стоимость">
            <button type="submit">Добавить</button>
        </form>
        <p>{{context.message}}</p>
    </div>
</main>
