{% extends "base.html" %}

{% block title2 %}
    Список клиентов
{% endblock %}

{% block style %}
	{% include "inc-style.html" %}
{% endblock %}

{% block main %}

<div class="content-admin">
    <h3>Список туров</h3>
    <div>

        {% for item in objects_list %}
        <li>
            {{item.name}}
<!--            {% for location in item.locations %}-->
<!--                {{location.name}}-->
<!--            {% endfor %}-->
        </li>
        {% endfor %}
    </div>
</div>
{% endblock %}
